.badge {
    width:20px;
    height:20px;
    border-radius: 10px;
    background-color: tomato;
    position: absolute;
    right:-10px;
    top:-4px;
    font-size:10px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}

.badge-dot {
    width:5px;
    height:5px;
    border-radius: 2.5px;
    background-color: tomato;    

    position: absolute;
    right:-3px;
    top:3px;

}