.find-page__main {
    margin-right:25px;
    margin-left:25px;
    border-top : 1px solid var(--grey4);
    border-bottom : 1px solid var(--grey4);
    padding: 20px 0;
    color:var(--grey6);
}

.find-page__content{
    text-align: center;
    padding:120px 0;
    font-size:22px;
}

.open-chat {
    padding:0 25px;
    color:var(--grey6);
}

.open-chat__title {
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:10px;


}

.open-chat__title i {
    margin-left:10px;
}

.open-chat-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid var(--grey4);
    padding:15px 0;
}

.open-chat-list__title{
    font-size:20px;
}
.open-chat-list__hashtag{
    padding:8px 0;
}

.open-chat-list__info {
    display: flex;
}

.open-chat-list__info img {
    width:20px;
    height:20px;
    border-radius: 8px;
    margin-right:5px;
}

.open-chat-list__info-members {
    margin-right:5px;
}

.open-chat-list_info-status {
    margin-left:5px;
    color:violet;
}

.open-chat-list__column > img {
    width:100px;
    height:100px;
    border-radius: 10px;
    
}

.open-chat-list__column:last-child {
    position:relative;
}

.open-chat__heart-counter {
    position: absolute;
    width:60px;
    height:25px;
    background-color: rgba(0, 0, 0, 0.4);
    bottom:8px;
    right:8px;
    border-radius: 10px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
    

}
.open-chat__heart-counter i {
    margin-right:8px;
}
