.page-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:25px;
}

.page-header__title{
    font-size:32px;
    font-weight: 700;
}

.page-header__icons{
    display: flex;
}

.page-header__icon {
    padding-left:25px;
}

@keyframes rotateCog{
    from {
        
    }
    to {
        transform:rotateZ(360deg);
    }
}

.page-header__column .fa-cog:hover{
    cursor:pointer;
    animation:  rotateCog 1.5s linear infinite;
}