.setting-main{
    padding: 10px 25px;
}

.setting-row {
    
    padding:25px 0;
    border-bottom: 1px solid var(--grey2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-column {
    display: flex;
    align-items: center;
    position: relative;
    
}

.setting-column .badge{
    font-size:5px;
    right:-28px;
    top:4px;

}

.setting-column:last-child {
    color:var(--grey6);
}

.setting-column i {
    width:30px;
    font-size:26px;
}

.setting-column span {
    margin-left:18px;
    font-size:20px;
    
}

.setting-border {
    border-bottom: 1px solid var(--grey3);
}