.status-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    position: fixed;
    width:100%;
    top:0;

}

.status-bar__content{
    width:33%;
    display: flex;
    align-items: center;
    
}

.status-bar__content:nth-child(2){
    justify-content: center;
    font-weight: 600;
    
}

.status-bar__content:last-child{
    justify-content: flex-end;
}

.status-bar__content:last-child .fa-unlock-alt {
    margin-right:10px;
}

.status-bar__content:last-child .fa-battery-quarter {
    color:tomato;
}



.status-bar__content i{
    margin-right: 8px;
    
}

.status-bar__content span {
    margin-right:8px;
}