:root {
    --grey1:#FAFAFA;
    --grey2:#F5F5F5;
    --grey3:#EEEEEE;
    --grey4:#E0E0E0;
    --grey5:#BDBDBD;
    --grey6:#9E9E9E;
    --grey7:#757575;
    --grey8:#616161;
    --grey9:#424242;
    --grey10:#212121;

}