#no-mobile{
    z-index:99;
    background-color: var(--yellow);
    width:100vw;
    height:100vh;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    font-size:33px;
    font-weight: 600;
}

@media screen  and (max-width:650px) {
    #no-mobile{
        display:none;
    }
    
}