.badge {
    background-color: tomato;
    width:24px;
    height:24px;
    border-radius: 12px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.small-badge{
    background-color: tomato;
    width:6px;
    height:6px;
    border-radius: 3px;
    position: absolute;
    right:-6px;
    bottom:20px;
}